@{
    ViewBag.Title = "Index";
}

<h2>Reports</h2>
<div style="margin:5px">@Html.ActionLink("Complaints by Complaint Type", "../../Areas/RDL/Report.aspx", new { rpt = "ComplaintsByIssueType" }, new { target = "_blank" })</div>
<div style="margin:5px">@Html.ActionLink("Complaints by Debt Product", "../../Areas/RDL/Report.aspx",new { rpt = "ComplaintsByDebtProduct" }, new { target="_blank" })</div>
<div style="margin:5px">@Html.ActionLink("Complaints by Source", "../../Areas/RDL/Report.aspx",new { rpt = "ComplaintsBySource" }, new { target="_blank" })</div>
<div style="margin:5px">@Html.ActionLink("Complaints by Debt Age", "../../Areas/RDL/Report.aspx",new { rpt = "ComplaintSubmissionAging" }, new { target="_blank" })</div>
<div style="margin:5px">@Html.ActionLink("Complaints by Debtor", "../../Areas/RDL/Report.aspx",new { rpt = "ComplaintsByDebtor" }, new { target="_blank" })</div>
<div style="margin:5px">@Html.ActionLink("Complaints by Debt Owner", "../../Areas/RDL/Report.aspx",new { rpt = "ComplaintsByDebtOwner" }, new { target="_blank" })</div>
<div style="margin:5px">@Html.ActionLink("Complaints by Collection Agency", "../../Areas/RDL/Report.aspx",new { rpt = "ComplaintsByCollectionAgency" }, new { target="_blank" })</div>
<div style="margin:5px">@Html.ActionLink("Complaints by Creditor", "../../Areas/RDL/Report.aspx",new { rpt = "ComplaintsByCreditor" }, new { target="_blank" })</div>
<div style="margin:5px">@Html.ActionLink("Complaints by Law Firm", "../../Areas/RDL/Report.aspx",new { rpt = "ComplaintsByLawFirm" }, new { target="_blank" })</div>
<div style="margin:5px">@Html.ActionLink("Complaints by State", "../../Areas/RDL/Report.aspx",new { rpt = "ComplaintsByState" }, new { target="_blank" })</div>
