@Html.Hidden("userId", (string)(@ViewBag.UserID))
@Html.Hidden("roleEntityValue", (string)(@ViewBag.RoleEntityValue))
@Html.Hidden("hdnUserRole", (string)(@ViewBag.UserRole))
<style>
    td {
        vertical-align:top;
    }
    
</style>

<div id="workspaceContainer" class="container-fluid">
    <div class='page-title'>Create Complaint</div>
    <div id="debtorResults" style="font-size: small" class="modal hide fade">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Select debtor:</h3>
        </div>
        <div class="modal-body">
             Click the Account to populate debtor information from the below list:
            <table style="text-align: center; width:100%">
                <tr>
                    <th>Account
                    </th>
                    <th>First Name
                    </th>
                    <th>Last Name
                    </th>
                    <th>Original Account
                    </th>
                </tr>
                <tbody data-bind="foreach: debtors">
                    <tr>
                        <td><a href="#" data-bind="text: account, click: $root.selectedDebtor" /></td>
                        <td data-bind="text: firstName"></td>
                        <td data-bind="text: lastName"></td>
                        <td data-bind="text: accountOriginal"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="modal-footer" /> 
    </div>  
    <table class="searchtable" style="width: 100%;">
        <tr>
            <td style="text-align: right">Client First or Last Name :
            </td>
            <td style="text-align: left">
                <input type="text" data-bind="value: firstOrLastName" />
            </td>
        </tr>
        <tr>
            <td style="text-align: right">Consumer Account # :
            </td>
            <td style="text-align: left">
                <input type="text" data-bind="value: accountNumber" />
            </td>
        </tr>
        <tr>
            <td style="text-align: right">Original Creditor Name :
            </td>
            <td style="text-align: left">
                <input type="text" data-bind="value: creditorName" />
            </td>
        </tr>
        <tr>
            <td style="text-align: right">Original Account # :
            </td>
            <td style="text-align: left">
                <input type="text" data-bind="value: originalAccountNumber" />
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align: center">
                <b>Note:</b>Enter only one of the search criteria.
            </td>
        </tr>
        <tr>
            <td colspan="2" class="confirmBtnContainer">
                <input type="button" id="refreshBtn" title="Find" data-bind="click: getAccounts" />
            </td>
        </tr>
    </table>
    <div style="display:none" id="successAlert" class="alert alert-success alert-block fade">
        <a class="close" onclick="$(this).parent().removeClass('in').toggle();">×</a>
        <strong>Success!</strong><span data-bind="    text: message"></span>.  
    </div>
    <div style="display:none" m id="infoAlert" class="alert alert-info alert-block fade">
        <a class="close" onclick="$(this).parent().removeClass('in').toggle();">×</a>
        <strong>warning!</strong><span data-bind="    text: message"></span>
    </div>
    <div style="display:none" id="errorAlert" class="alert alert-error alert-block fade">
        <a class="close" onclick="$(this).parent().removeClass('in').toggle();">×</a>
        <strong>error!</strong><span data-bind="    text: message"></span>
    </div>
    <div class="modal hide fade" id="fileUploadContainer">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Upload document:</h3>
        </div>
        <div class="modal-body" data-bind="with: complianceModel">
            @using (Html.BeginForm("UploadDocument", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div data-bind="visible: complaintinfoDocumentChecked">
                    Select document for complaint information:<input name="complaintDocument" type="file" />
                </div>
                <div data-bind="visible: debtOwnerProcessDocumentChecked">
                    Select document for debt owner process:<input name="debtOwnerProcessDocument" type="file" />
                </div>
                <input type="hidden" name="hdnAccount" data-bind="value: account" />
                <input type="hidden" name="hdnAgency" data-bind="value: agency" />
                <input type="submit" value="Submit" class="btn btn-primary"/>
            }
        </div>
        <div class="modal-footer" /> 
    </div>  
    <div class="modal hide fade" id="messageSummary" style="font-size: small">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Errors:</h3>
        </div>
        <div class="modal-body" data-bind="with: validationErrors">
            <ul>
                <li data-bind="text: $data"></li>
            </ul>
        </div>        
        <div class="modal-footer" /> 
    </div>
    <table class="tblCommon" style="width: 100%">
        <tr>
            <td colspan="2" class="confirmBtnContainer">
                <img src="~/Content/images/savebutton.png" data-bind="click: saveComplaint, visible: saveVisible" />
            </td>
        </tr>
        <tr>
            <td>
                <table class="PIMSDatatable" style="width: 100%;">
        <tr>
            <td style="width: 100%; background-color: #1f497d">
                <a href="#" style="text-decoration: none; font-weight: bold; color: white" data-bind="click: showHideDebtInformation">Debtor & Debt Information</a>
            </td>
        </tr>
        <tr>
            <td>
                <div id="debtInformation" data-bind="with: complianceModel, visible: showDebtInformation">
                    <table >
                        <tr>
                            <td colspan="6" style="text-align: right">* = Required fields
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: right; width: 20%">Agency Name
                            </td>
                            <td style="text-align: center; width: 1%">:
                            </td>
                            <td style="text-align: left;" colspan="4">
                                <select id="listAgencies" data-bind="options: $parent.agencies, optionsValue: 'Value', optionsCaption: ' ', optionsText: 'Text', value: agency, disable: $parent.agenciesDisable">
                                </select>*
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: right; width: 20%">Consumer Account #
                            </td>
                            <td style="text-align: center; width: 1%">:
                            </td>
                            <td style="text-align: left; width: 20%">
                                <input type="text" data-bind="value: account" />*
                            </td>
                            <td style="text-align: right; width: 20%">Last 4 of SSN
                            </td>
                            <td style="text-align: center; width: 1%">:
                            </td>
                            <td style="text-align: left; width: 20%">
                                <input type="text" data-bind="value: lastFourSSN" />*
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: right; width: 20%">Last Name
                            </td>
                            <td style="text-align: center; width: 1%">:
                            </td>
                            <td style="text-align: left; width: 20%">
                                <input type="text" data-bind="value: lastName" />*
                            </td>
                            <td style="text-align: right; width: 20%">Verified Debtor Identity?
                            </td>
                            <td style="text-align: center; width: 1%">:
                            </td>
                            <td style="text-align: left; width: 20%">
                                <select data-bind="options: $parent.debtorIdentities, optionsValue: 'Value', optionsText: 'Text', value: debtorIdentityVerified_YesNo">
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: right; width: 20%">First Name
                            </td>
                            <td style="text-align: center; width: 1%">:
                            </td>
                            <td style="text-align: left; width: 20%">
                                <input type="text" data-bind="value: firstName" />
                            *
                            <td style="text-align: right; width: 20%">Best Contact Method
                            </td>
                            <td style="text-align: center; width: 1%">:
                            </td>
                            <td style="text-align: left; width: 20%">
                                <select data-bind="options: $parent.contactMethods, optionsValue: 'Value', optionsText: 'Text', optionsCaption: ' ', value: contactMethodId">
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: right; width: 20%">Address
                            </td>
                            <td style="text-align: center; width: 1%">:
                            </td>
                            <td style="text-align: left; width: 20%">
                                <input type="text" data-bind="value: address" />
                            <td style="text-align: right; width: 20%">Best Contact Time
                            </td>
                            <td style="text-align: center; width: 1%">:
                            </td>
                            <td style="text-align: left; width: 20%">
                                <select data-bind="options: $parent.contactTimeOptions, optionsValue: 'Value', optionsText: 'Text', optionsCaption: ' ', value: contactTimeId">
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: right; width: 20%">City
                            </td>
                            <td style="text-align: center; width: 1%">:
                            </td>
                            <td style="text-align: left; width: 20%">
                                <input type="text" data-bind="value: city" />
                            <td style="text-align: right; width: 20%">Creditor Name
                            </td>
                            <td style="text-align: center; width: 1%">:
                            </td>
                            <td style="text-align: left; width: 20%">
                                <input type="text" data-bind="value: creditorName" />
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: right; width: 20%">State
                            </td>
                            <td style="text-align: center; width: 1%">:
                            </td>
                            <td style="text-align: left; width: 20%">
                                <select id="listStates" data-bind="options: $parent.stateOptions, optionsValue: 'Value', optionsText: 'Text', optionsCaption: '', value: state">
                                </select>
                                
                            <td style="text-align: right; width: 20%">Debt Product
                            </td>
                            <td style="text-align: center; width: 1%">:
                            </td>
                            <td style="text-align: left; width: 20%">
                                <select data-bind="options: $parent.debtProductOptions, optionsValue: 'Value', optionsText: 'Text', optionsCaption: ' ', value: debtProductId">
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: right; width: 20%">Zip
                            </td>
                            <td style="text-align: center; width: 1%">:
                            </td>
                            <td style="text-align: left; width: 20%">
                                <input type="text" data-bind="value: zip" />
                            <td style="text-align: right; width: 20%">Debt Balance at Purchase
                            </td>
                            <td style="text-align: center; width: 1%">:
                            </td>
                            <td style="text-align: left; width: 20%">
                                <input type="text" data-bind="value: debtPurchaseBalance" />
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: right; width: 20%">Home Phone
                            </td>
                            <td style="text-align: center; width: 1%">:
                            </td>
                            <td style="text-align: left; width: 20%">
                                <input type="text" data-bind="value: homePhone" />
                            <td style="text-align: right; width: 20%">Debt Balance (Current)
                            </td>
                            <td style="text-align: center; width: 1%">:
                            </td>
                            <td style="text-align: left; width: 20%">
                                <input type="text" data-bind="value: debtCurrentBalance" />
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: right; width: 20%">Work Phone
                            </td>
                            <td style="text-align: center; width: 1%">:
                            </td>
                            <td style="text-align: left; width: 20%">
                                <input type="text" data-bind="value: workPhone" />
                            <td style="text-align: right; width: 20%">Dispute Debt?
                            </td>
                            <td style="text-align: center; width: 1%">:
                            </td>
                            <td style="text-align: left; width: 20%">
                                <select data-bind="options: $parent.disputeDebtOptions, optionsValue: 'Value', optionsText: 'Text', value: disputeDebt_YesNo">
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: right; width: 20%">Mobile Phone
                            </td>
                            <td style="text-align: center; width: 1%">:
                            </td>
                            <td style="text-align: left; width: 20%">
                                <input type="text" data-bind="value: mobilePhone" />
                            <td style="text-align: right; width: 20%">Dispute Debt Amount?
                            </td>
                            <td style="text-align: center; width: 1%">:
                            </td>
                            <td style="text-align: left; width: 20%">
                                <select data-bind="options: $parent.disputeDebtAmtOptions, optionsValue: 'Value', optionsText: 'Text', value: disputeDebtAmount_YesNo">
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: right; width: 20%">&nbsp;
                            </td>
                            <td style="text-align: center; width: 1%"></td>
                            <td style="text-align: left; width: 20%">
                            &nbsp;
                            <td style="text-align: right; width: 20%">Dispute Debt Due Date?
                            </td>
                            <td style="text-align: center; width: 1%">:
                            </td>
                            <td style="text-align: left; width: 20%">
                                <select data-bind="options: $parent.disputeDebtDueDateOptions, optionsValue: 'Value', optionsText: 'Text', value: disputeDebtDueDate_YesNo">
                                </select>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
        <tr>
            <td style="width: 100%; background-color: #1f497d">
                <a href="#" style="text-decoration: none; font-weight: bold; color: white" data-bind="click: showHideComplaintInformation">Complaint Information</a>
            </td>
        </tr>
        <tr>
            <td>
                <div id="complaintInformation" data-bind="with: complianceModel, visible: showComplaintInformation">
                    <table>
                        <tr>
                            <td style="text-align: right; width: 20%">Complaint ID #
                            </td>
                            <td style="text-align: center; width: 1%">:
                            </td>
                            <td style="text-align: left; width: 20%">
                                <input type="text" data-bind="value: complaintID, enable: false" />
                            *
                            <td style="text-align: right; width: 20%">Complaint Date
                            </td>
                            <td style="text-align: center; width: 1%">:
                            </td>
                            <td style="text-align: left; width: 20%">
                                <input type="text" id="complaiintDate" data-bind="value: complaintDate" />
                            *
                        </tr>
                        <tr>
                            <td style="text-align: right; width: 20%">Complaint Received By
                            </td>
                            <td style="text-align: center; width: 1%">:
                            </td>
                            <td style="text-align: left; width: 20%">
                                <select data-bind="options: $parent.complaintRecvdByOptions, optionsValue: 'Value', optionsText: 'Text', optionsCaption: ' ', value: complaintReceivedByMethodId">
                                </select>
                            <td style="text-align: right; width: 20%">Complaint Issue
                            </td>
                            <td style="text-align: center; width: 1%">:
                            </td>
                            <td style="text-align: left; width: 20%">
                                <select data-bind="options: $parent.complaintIssueOptions, optionsValue: 'Value', optionsText: 'Text', optionsCaption: ' ', value: complaintIssueId">
                                </select> *
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: right; width: 20%">Complaint Notes
                            </td>
                            <td style="text-align: center; width: 1%">:
                            </td>
                            <td style="text-align: left; width: 20%">
                                <textarea rows="4" cols="25" data-bind="value: complaintNotes"></textarea>
                            <td style="text-align: right; width: 20%">Upload Document
                            </td>
                            <td style="text-align: center; width: 1%">:
                            </td>
                            <td style="text-align: left; width: 20%">
                                <input type="checkbox" data-bind="checked: complaintinfoDocumentChecked" />
                            </td>
                        </tr>
                        <tr data-bind="visible: $parent.showComplaintSumittedToAgencyInfo">
                            <td style="text-align: right; width: 20%">Submitted Complaint to Agency?
                            </td>
                            <td style="text-align: center; width: 1%">:
                            </td>
                            <td style="text-align: left; width: 20%">
                                <select data-bind="options: $parent.yesNoOptions, optionsValue: 'Value', optionsText: 'Text', value: complaintSubmitedToAgency_YesNo">
                                </select>
                            <td style="text-align: right; width: 20%">Date Submitted
                            </td>
                            <td style="text-align: center; width: 1%">:
                            </td>
                            <td style="text-align: left; width: 20%">
                                <input type="text" id="dateSubmittedToAgency" data-bind="value: complaintSubmitedToAgencyDate" />
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: right; width: 20%">Need More Info from Debtor?
                            </td>
                            <td style="text-align: center; width: 1%">:
                            </td>
                            <td style="text-align: left; width: 20%">
                                <select data-bind="options: $parent.needMoreInfoDebtorOptions, optionsValue: 'Value', optionsText: 'Text', value: moreInfoReqdFromDebtor_YesNo">
                                </select>
                            <td style="text-align: right; width: 20%">Date Requested
                            </td>
                            <td style="text-align: center; width: 1%">:
                            </td>
                            <td style="text-align: left; width: 20%">
                                <input type="text" id="moreInfoRequestedDate" data-bind="value: moreInfoRequestedDate" />
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: right; width: 20%">More Info Requested
                            </td>
                            <td style="text-align: center; width: 1%">:
                            </td>
                            <td style="text-align: left; width: 20%">
                                <textarea rows="4" cols="25" data-bind="value: moreInfoRequested"></textarea>
                            <td style="text-align: right; width: 20%">More Debtor Info Received?
                            </td>
                            <td style="text-align: center; width: 1%">:
                            </td>
                            <td style="text-align: left; width: 20%">
                                <select data-bind="options: $parent.moreInfoRecvdDebtorOptions, optionsValue: 'Value', optionsText: 'Text', value: moreInfoReceivedFromDebtor_YesNo">
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: right; width: 20%">Date Received
                            </td>
                            <td style="text-align: center; width: 1%">:
                            </td>
                            <td style="text-align: left; width: 20%">
                                <input type="text" id="moreInfoReceivedDate" data-bind="value: moreInfoReceivedDate" />
                            <td style="text-align: right; width: 20%">More Info Received
                            </td>
                            <td style="text-align: center; width: 1%">:
                            </td>
                            <td style="text-align: left; width: 20%">
                                <textarea rows="4" cols="25" data-bind="value: moreInfoReceived"></textarea>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
        <tr>
            <td style="width: 100%; background-color: #1f497d">
                <a href="#" style="text-decoration: none; font-weight: bold; color: white" data-bind="click: showHideCollectionAgencyProcess">Collection Agency Process</a>
            </td>
        </tr>
        <tr>
            <td>
                <div id="collectionAgencyProcess" data-bind="with: complianceModel, visible: showCollectionAgencyProcess">
                    <table>
                        <tr>
                            <td style="text-align: right; width: 20%">Submitted Complaint to Owner?
                            </td>
                            <td style="text-align: center; width: 1%">:
                            </td>
                            <td style="text-align: left; width: 20%">
                                <select data-bind="options: $parent.complaintSubmittedToOwnerOptions, optionsValue: 'Value', optionsText: 'Text', value: complaintSubmittedToOwner_YesNo">
                                </select>
                            <td style="text-align: right; width: 20%">Date Submitted
                            </td>
                            <td style="text-align: center; width: 1%">:
                            </td>
                            <td style="text-align: left; width: 20%">
                                <input type="text" id="complaintSubmittedDate" data-bind="value: complaintSubmittedDate" />
                        </tr>
                        <tr>
                            <td style="text-align: right; width: 20%">Time to Submit (Days)
                            </td>
                            <td style="text-align: center; width: 1%">:
                            </td>
                            <td style="text-align: left; width: 20%">
                                <input type="text" disabled="disabled" data-bind="value: timeToSubmitDays" />
                            <td style="text-align: right; width: 20%">Upload Document
                            </td>
                            <td style="text-align: center; width: 1%">:
                            </td>
                            <td style="text-align: left; width: 20%">
                                <input type="checkbox" data-bind="checked: debtOwnerProcessDocumentChecked" />
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
        <tr data-bind="visible: isDebtOwnerProcessVisible">
            <td style="width: 100%; background-color: #1f497d">
                <a href="#" style="text-decoration: none; font-weight: bold; color: white" data-bind="click: showHideDebtOwnerProcess">Debt Owner Process</a>
            </td>
        </tr>
        <tr data-bind="visible: isDebtOwnerProcessVisible">
            <td>
                <div id="debtOwnerProcess" data-bind="with: complianceModel, visible: showDebtOwnerProcess">
                    <table>
                        <tr>
                            <td style="text-align: right; width: 20%">Need More Info from Agency?
                            </td>
                            <td style="text-align: center; width: 1%">:
                            </td>
                            <td style="text-align: left; width: 20%">
                                <select data-bind="options: $parent.moreInfoFromAgencyOptions, optionsValue: 'Value', optionsText: 'Text', value: moreInfoFromAgency_YesNo">
                                </select>
                            <td style="text-align: right; width: 20%">Date Requested
                            </td>
                            <td style="text-align: center; width: 1%">:
                            </td>
                            <td style="text-align: left; width: 20%">
                                <input type="text" id="moreInfoFromAgencyRequestedDate" data-bind="value: moreInfoFromAgencyRequestedDate" />
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: right; width: 20%">More Info Requested
                            </td>
                            <td style="text-align: center; width: 1%">:
                            </td>
                            <td style="text-align: left; width: 20%">
                                <textarea rows="4" cols="25" data-bind="value: moreInfoFromAgencyRequested"></textarea>
                            <td style="text-align: right; width: 20%">More Agency Info Received?
                            </td>
                            <td style="text-align: center; width: 1%">:
                            </td>
                            <td style="text-align: left; width: 20%">
                                <select data-bind="options: $parent.moreInfoFromAgencyReceivedOptions, optionsValue: 'Value', optionsText: 'Text', value: moreInfoFromAgencyReceived_YesNo">
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: right; width: 20%">Date Received
                            </td>
                            <td style="text-align: center; width: 1%">:
                            </td>
                            <td style="text-align: left; width: 20%">
                                <input type="text" id="moreInfoFromAgencyReceivedDate" data-bind="value: moreInfoFromAgencyReceivedDate" />
                            <td style="text-align: right; width: 20%">More Info Received
                            </td>
                            <td style="text-align: center; width: 1%">:
                            </td>
                            <td style="text-align: left; width: 20%">
                                <textarea rows="4" cols="25" data-bind="value: moreInfoFromAgencyReceived"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: right; width: 20%">Owner Response
                            </td>
                            <td style="text-align: center; width: 1%">:
                            </td>
                            <td style="text-align: left; width: 20%">
                                <select data-bind="options: $parent.ownerResponseOptions, optionsValue: 'Value', optionsText: 'Text', optionsCaption: ' ', value: ownerResponseId">
                                </select>
                            <td style="text-align: right; width: 20%">&nbsp;
                            </td>
                            <td style="text-align: center; width: 1%"></td>
                            <td style="text-align: left; width: 20%">&nbsp;
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: right; width: 20%">Owner Response to Agency Date
                            </td>
                            <td style="text-align: center; width: 1%">:
                            </td>
                            <td style="text-align: left; width: 20%">
                                <input type="text" id="ownerResponseDate" data-bind="value: ownerResponseDate" />
                            <td style="text-align: right; width: 20%">Owner Response (Days)
                            </td>
                            <td style="text-align: center; width: 1%">:
                            </td>
                            <td style="text-align: left; width: 20%">
                                <input type="text" disabled="disabled" data-bind="value: ownerResponseDays" />
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
        <tr>
            <td style="width: 100%; background-color: #1f497d">
                <a href="#" style="text-decoration: none; font-weight: bold; color: white" data-bind="click: showHideComplaintClosure">Complaint Closure</a>
            </td>
        </tr>
        <tr>
            <td>
                <div id="complaintClosure" data-bind="with: complianceModel, visible: showComplaintClosure">
                    <table class="complaintClosureInfo">
                        <tr>
                            <td style="text-align: right; width: 20%">Agency Response to Debtor Date
                            </td>
                            <td style="text-align: center; width: 1%">:
                            </td>
                            <td style="text-align: left; width: 20%">
                                <input type="text" id="agencyResponseToDebtorDate" data-bind="value: agencyResponseToDebtorDate" />
                            <td style="text-align: right; width: 20%">Total Response Time (Days)
                            </td>
                            <td style="text-align: center; width: 1%">:
                            </td>
                            <td style="text-align: left; width: 20%">
                                <input type="text" disabled="disabled" data-bind="value: totalResponseTimeDays" />
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: right; width: 20%">Debtor Agree?
                            </td>
                            <td style="text-align: center; width: 1%">:
                            </td>
                            <td style="text-align: left; width: 20%">
                                <select data-bind="options: $parent.debtorAgreeOptions, optionsValue: 'Value', optionsText: 'Text', value: debtorAgree_YesNo">
                                </select>
                            <td style="text-align: right; width: 20%">Need further Action?
                            </td>
                            <td style="text-align: center; width: 1%">:
                            </td>
                            <td style="text-align: left; width: 20%">
                                <select data-bind="options: $parent.needFurtherActionOptions, optionsValue: 'Value', optionsText: 'Text', value: needFurtherAction_YesNo">
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: right; width: 20%">Final Action Steps
                            </td>
                            <td style="text-align: center; width: 1%">:
                            </td>
                            <td style="text-align: left; width: 20%">
                                <select data-bind="options: $parent.finalActionStepOptions, optionsValue: 'Value', optionsCaption: ' ', optionsText: 'Text', value: finalActionStepId">
                                </select>
                            <td style="text-align: right; width: 20%">&nbsp;
                            </td>
                            <td style="text-align: center; width: 1%"></td>
                            <td style="text-align: left; width: 20%">&nbsp;
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
    </table>
            </td>
        </tr>
    </table>
</div>
@Scripts.Render("~/bundles/knockout")
@Scripts.Render("~/bundles/external")
<script src="~/Scripts/application.js" type="text/javascript"></script>
<script src="~/Scripts/jquery-ui-1.8.11.js" type="text/javascript"></script>
<script src="~/Scripts/compliance.js" type="text/javascript"></script>
<script src="~/Scripts/jquery.formatCurrency-1.4.0.min.js" type="text/javascript"></script>
<script type="text/javascript">
    var yesNoOptions = [{ Text: 'No', Value: 'false' }, { Text: 'Yes', Value: 'true' }];

    function pageViewModel(userId, roleEntityValue, userRole) {
        console.log(userId + ',' + roleEntityValue + ',' + userRole);
        var self = this;
        self.complianceModel = new complianceVM(userId, roleEntityValue);
        self.accountNumber = ko.observable('');
        self.firstOrLastName = ko.observable('');
        self.creditorName = ko.observable('');
        self.originalAccountNumber = ko.observable('');
        self.debtors = ko.observableArray([]);
        self.userRole = ko.observable(userRole);

        self.getComplaint = function (account) {
            self.message('');
            function setComplaint(data) {
                self.complianceModel.populateCompliance(data.Tbl_Account.Tbl_Agency.Name,data.Tbl_Account.AccountNumber, data.Tbl_Account.FirstName, data.Tbl_Account.LastName, '', data.Tbl_Account.Address, data.Tbl_Account.City, data.Tbl_Account.StateId, data.Tbl_Account.Zip, data.Tbl_Account.LastFourSSN, data.Tbl_Account.MobilePhone, data.Tbl_Account.HomePhone, data.Tbl_Account.WorkPhone, data.DebtorIdentityVerifiedYN, data.DebtorContactMethodId, data.DebtorContactTimeId, data.Tbl_Account.DebtCurrentBalance, data.Tbl_Account.DebtPurchaseBalance, data.Tbl_Account.CreditorName, data.DebtorProductId, data.DisputeDebtYN, data.DisputeDebtAmountYN, data.DisputeDebtDueDateYN, data.ComplaintId, data.ComplaintDate, data.ReceivedByMethodId, data.IssuesId, data.ComplaintNotes, data.ComplaintSubmittedToAgencyYN, data.ComplaintSubmittedToAgencyDate, data.MoreInfoReqdFromDebtorYN, data.MoreInfoRequestedDate, data.MoreInfoRequested, data.MoreInfoReceivedFromDebtorYN, data.MoreInfoReceivedDate, data.MoreInfoReceived, data.ComplaintSubmittedToOwnerYN, data.ComplaintSubmittedDate, data.TimeToSubmitDays, data.MoreInfoFromAgencyYN, data.MoreInfoFromAgencyRequestedDate, data.MoreInfoFromAgencyRequested, data.MoreInfoFromAgencyReceived, data.MoreInfoFromAgencyReceivedYN, data.MoreInfoFromAgencyReceivedDate, data.OwnerResponseId, data.OwnerResponseDate, data.OwnerResponseDays, data.AgencyResponseToDebtorDate, data.TotalResponseTimeDays, data.DebtorAgreeYN, data.NeedFurtherActionYN, data.FinalActionStepId, data.CreatedBy, null, null);
                if (data.ComplaintId != null) {
                    self.complianceModel.complaintID(data.ComplaintId);
                }
                else
                    self.complianceModel.complaintID(self.createComplaintId());
            };
            self.accountNumber(account);
            $.ajax({
                url: baseUrl + '/api/Compliance/',
                type: "GET",
                data: { accountNumber: account, userAgency: roleEntityValue, userRole: self.userRole(), createUpdateMode : 'create' },
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                async: false,
                success: function (data) {
                    console.log(data);
                    setComplaint(data);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    var responseText = jQuery.parseJSON(jqXHR.responseText);
                    self.message(responseText.ExceptionMessage);
                    showNoti_.error(responseText.ExceptionMessage, false);
                    $('#errorAlert').addClass('in').toggle();
                    return false;
                }
            });
            $("#debtorResults").modal('hide');
            //self.saveVisible(true);
        }
        self.selectedDebtor = function (debtor) {
            console.log('selected debtor');
            self.getComplaint(debtor.account());

            $("#debtorResults").modal('hide');
            return false;
            //self.saveVisible(true);
        };
        self.createComplaintId = function () {
            console.log('createComplaintId');
            if (self.complianceModel.account() != '' && self.complianceModel.account() != undefined && self.complianceModel.agency() != '' & self.complianceModel.agency() != undefined) {
                var randonNumber = Math.floor((Math.random() * 999) + 101);
                return self.complianceModel.agency() + '-' + self.complianceModel.account().substring(5, 10) + '-' + randonNumber;
            }
            else
                return '';
        }
        self.agenciesDisable = ko.computed(function () { return (self.userRole() == 'CollectionAgency') ? true : false }, self);
        self.agencies = ko.computed(function () {
            var localAgencies = [];
            $.ajax({
                url: baseUrl + '/api/Lookup/',
                type: 'GET',
                contentType: 'application/json',
                data: { id: 'Agencies' },
                dataType: 'json',
                async: false,
                success: function (data) {
                    //log(data.length);
                    if (data.length > 0) {
                        $.each(data, function (i, item) {
                            //log(item.Text);
                            localAgencies.push(item);
                        });
                    }
                },
                error: function (xhr, status, somthing) {
                    log(status);
                }
            });
            return localAgencies;
        }, self);
        //For Div debtInformation
        self.debtorIdentities = ko.observableArray(yesNoOptions);
        self.debtorIdentities = ko.observableArray(yesNoOptions);
        self.contactMethods = ko.computed(function () {
            var localContactMethods = [];
            $.ajax({
                url: baseUrl + '/api/Lookup/',
                type: 'GET',
                contentType: 'application/json',
                data: { id: 'DebtorContactMethods' },
                dataType: 'json',
                async: false,
                success: function (data) {
                    //log(data.length);
                    if (data.length > 0) {
                        $.each(data, function (i, item) {
                            //log(item.Text);
                            localContactMethods.push(item);
                        });
                    }
                },
                error: function (xhr, status, somthing) {
                    log(status);
                }
            });
            return localContactMethods;
        }, self);
        self.contactTimeOptions = ko.computed(function () {
            var localTimeOptions = [];
            $.ajax({
                url: baseUrl + '/api/Lookup/',
                type: 'GET',
                contentType: 'application/json',
                data: { id: 'DebtorContactTime' },
                dataType: 'json',
                async: false,
                success: function (data) {
                    //log(data.length);
                    if (data.length > 0) {
                        $.each(data, function (i, item) {
                            //log(item.Text);
                            localTimeOptions.push(item);
                        });
                    }
                },
                error: function (xhr, status, somthing) {
                    log(status);
                }
            });
            return localTimeOptions;
        }, self);
        self.stateOptions = ko.computed(function () {
            var localStates = [];
            $.ajax({
                url: baseUrl + '/api/Lookup/',
                type: 'GET',
                contentType: 'application/json',
                data: { id: 'USStates' },
                dataType: 'json',
                async: false,
                success: function (data) {
                    //log(data.length);
                    if (data.length > 0) {
                        $.each(data, function (i, item) {
                            //log(item.Text);
                            localStates.push(item);
                        });
                    }
                },
                error: function (xhr, status, somthing) {
                    log(status);
                }
            });
            return localStates;
        }, self);
        self.debtProductOptions = ko.computed(function () {
            var localProducts = [];
            $.ajax({
                url: baseUrl + '/api/Lookup/',
                type: 'GET',
                contentType: 'application/json',
                data: { id: 'DetorProducts' },
                dataType: 'json',
                async: false,
                success: function (data) {
                    //log(data.length);
                    if (data.length > 0) {
                        $.each(data, function (i, item) {
                            //log(item.Text);
                            localProducts.push(item);
                        });
                    }
                },
                error: function (xhr, status, somthing) {
                    log(status);
                }
            });
            return localProducts;
        }, self);
        self.disputeDebtOptions = ko.observableArray(yesNoOptions);
        self.disputeDebtAmtOptions = ko.observableArray(yesNoOptions);
        self.disputeDebtDueDateOptions = ko.observableArray(yesNoOptions);

        //For complaintInformation
        self.complaintRecvdByOptions = ko.computed(function () {
            var localComplaintReceivedBy = [];
            $.ajax({
                url: baseUrl + '/api/Lookup/',
                type: 'GET',
                contentType: 'application/json',
                data: { id: 'ComplaintReceivedBy' },
                dataType: 'json',
                async: false,
                success: function (data) {
                    //log(data.length);
                    if (data.length > 0) {
                        $.each(data, function (i, item) {
                            //log(item.Text);
                            localComplaintReceivedBy.push(item);
                        });
                    }
                },
                error: function (xhr, status, somthing) {
                    log(status);
                }
            });
            return localComplaintReceivedBy;
        }, self);
        self.complaintIssueOptions = ko.computed(function () {
            var localComplaintIssues = [];
            $.ajax({
                url: baseUrl + '/api/Lookup/',
                type: 'GET',
                contentType: 'application/json',
                data: { id: 'ComplaintIssues' },
                dataType: 'json',
                async: false,
                success: function (data) {
                    //log(data.length);
                    if (data.length > 0) {
                        $.each(data, function (i, item) {
                            //log(item.Text);
                            localComplaintIssues.push(item);
                        });
                    }
                },
                error: function (xhr, status, somthing) {
                    log(status);
                }
            });
            return localComplaintIssues;
        }, self);
        self.needMoreInfoDebtorOptions = ko.observableArray(yesNoOptions);
        self.moreInfoRecvdDebtorOptions = ko.observableArray(yesNoOptions);
        self.yesNoOptions = ko.observableArray(yesNoOptions);

        //Debt Owner
        self.complaintSubmittedToOwnerOptions = ko.observableArray(yesNoOptions);
        self.moreInfoFromAgencyOptions = ko.observableArray(yesNoOptions);
        self.moreInfoFromAgencyReceivedOptions = ko.observableArray(yesNoOptions);
        self.ownerResponseOptions = ko.computed(function () {
            var localOwnerResponse = [];
            $.ajax({
                url: baseUrl + '/api/Lookup/',
                type: 'GET',
                contentType: 'application/json',
                data: { id: 'OwnerResponse' },
                dataType: 'json',
                async: false,
                success: function (data) {
                    //log(data.length);
                    if (data.length > 0) {
                        $.each(data, function (i, item) {
                            //log(item.Text);
                            localOwnerResponse.push(item);
                        });
                    }
                },
                error: function (xhr, status, somthing) {
                    log(status);
                }
            });
            return localOwnerResponse;
        }, self);

        //Complaint closure
        self.debtorAgreeOptions = ko.observableArray(yesNoOptions);
        self.needFurtherActionOptions = ko.observableArray(yesNoOptions);
        self.finalActionStepOptions = ko.computed(function () {
            var localFinalActionSteps = [];
            $.ajax({
                url: baseUrl + '/api/Lookup/',
                type: 'GET',
                contentType: 'application/json',
                data: { id: 'FinalActionSteps' },
                dataType: 'json',
                async: false,
                success: function (data) {
                    //log(data.length);
                    if (data.length > 0) {
                        $.each(data, function (i, item) {
                            //log(item.Text);
                            localFinalActionSteps.push(item);
                        });
                    }
                },
                error: function (xhr, status, somthing) {
                    log(status);
                }
            });
            return localFinalActionSteps;
        }, self);


        //self.complianceModel.agency.subscribe(function (agencySelected) {
        //    if (self.accountNumber()) {
        //        console.log('agency subscribe');
        //        self.getComplaint(self.accountNumber());
        //        //self.complianceModel.complaintID(self.createComplaintId());
        //    }

        //}.bind(self));

        self.resetSearchCriteria = function () {
            self.accountNumber('');
            self.firstOrLastName('');
            self.originalAccountNumber('');
            self.creditorName('');
        };

        self.getAccounts = function () {
            self.message('');
            if (self.accountNumber() != '' || self.firstOrLastName() != '' || self.creditorName() != '' || self.originalAccountNumber() != '') {
                $.ajax({
                    url: baseUrl + '/api/Accounts/',
                    type: 'GET',
                    contentType: 'application/json',
                    data: {userRole: userRole, roleEntityValue: roleEntityValue, firstOrLastName: self.firstOrLastName, accountNumber: self.accountNumber(), creditorName: self.creditorName(), accountOriginal: self.originalAccountNumber()},
                    dataType: 'json',
                    async: true,
                    success: function (data) {
                        $("#loading").html("&nbsp;");
                        $("#loading").dialog('close');
                        if (data == null || data.length == 0) {
                            self.message('No data available for a given search criteria.');
                            showNoti_.info('No data available for a given search criteria.', false);
                            $('#infoAlert').addClass('in').toggle();
                            self.resetSearchCriteria();
                        }
                        else {
                            if (data.length > 0) {
                                if (data.length > 1) {
                                    $.each(data, function (i, item) {
                                        self.debtors.push(new pimsDebtor(item.AccountNumber, item.FirstName, item.LastName, '', item.Address, '', item.City, '', item.Zip, item.LastFourSSN, item.MobilePhone, item.HomePhone, item.WorkPhone, ((item.DebtCurrentBalance == undefined) ? '' : formatCurrency(item.DebtCurrentBalance)), ((item.DebtPurchaseBalance == undefined) ? '' : formatCurrency(item.DebtPurchaseBalance)), item.CreditorName, item.AccountOriginal));
                                        //$("#debtorResults").dialog('open');
                                        $('#debtorResults').modal();
                                    });
                                }
                                else {
                                    console.log('only 1 record');
                                    self.getComplaint(data[0].AccountNumber);
                                }
                            }
                        }
                    },
                    error: function (xhr, status, somthing) {
                        log(status);
                    }
                });
            }
            else
                alert('Please enter at least one search criteria');
        }
        self.saveComplaint = function () {
            $('#messageSummary ul').empty();
            self.validationErrors([]);
            if (self.complianceModel.agency() == '' || self.complianceModel.agency() == undefined)
                self.validationErrors.push('Agency Name is a required field');
            if (self.complianceModel.account() == '' || self.complianceModel.account() == undefined)
                self.validationErrors.push('Consumer Account is a required field');
            if (self.complianceModel.lastFourSSN() == '' || self.complianceModel.lastFourSSN() == undefined)
                self.validationErrors.push('Last 4 digits of SSN is a required field');
            if (self.complianceModel.lastName() == '' || self.complianceModel.lastName() == undefined)
                self.validationErrors.push('Last Name is a required field');
            if (self.complianceModel.firstName() == '' || self.complianceModel.firstName() == undefined)
                self.validationErrors.push('First Name is a required field');
            if (self.complianceModel.complaintID() == '' || self.complianceModel.complaintID() == undefined)
                self.validationErrors.push('Complaint ID is a required field');
            if (self.complianceModel.complaintDate() == '' || self.complianceModel.complaintDate() == undefined)
                self.validationErrors.push('Complaint Date is a required field');
            if (self.complianceModel.complaintIssueId() == '' || self.complianceModel.complaintIssueId() == undefined)
                self.validationErrors.push('Complaint Issue is a required field');
            
            log(self.validationErrors().length);
            if (self.validationErrors().length > 0) {
                //$.each(self.validationErrors(), function (i, item) {
                //    $('#messageSummary ul').append('<li>' + item + '</li>');
                //});
                $("#messageSummary").modal();
            }
            else {
                self.complianceModel.save(self.userRole());
                self.message('Data saved successfully!');
                showNoti_.info(self.message(), false);
                $('#successAlert').addClass('in').toggle();
                if (self.complianceModel.complaintinfoDocumentChecked() == true || self.complianceModel.debtOwnerProcessDocumentChecked() == true) {
                    //$('#fileUploadContainer').dialog('open');
                    $('#fileUploadContainer').modal();
                }
            }
            //window.location.reload();

        }
        self.message = ko.observable('');
        //self.saveVisible = ko.observable(false);
        self.saveVisible = ko.computed(function () {
            if (self.complianceModel.account() != '' && self.complianceModel.lastName() != '' && self.complianceModel.firstName() != '' && self.complianceModel.lastFourSSN() != '' && self.complianceModel.agency() != '' && self.complianceModel.agency() != undefined)
                return true;
            else
                return false;
        }, self);


        /* Show/Hide Options */
        self.showComplaintSumittedToAgencyInfo = ko.computed(function () {
            if (self.userRole() != 'CollectionAgency')
                return true;
            return false;
        }).bind(self);
        self.showDebtInformation = ko.observable(true);
        self.showComplaintInformation = ko.observable(true);
        self.showCollectionAgencyProcess = ko.observable(true);
        self.showDebtOwnerProcess = ko.observable(true);
        self.showComplaintClosure = ko.observable(true);
        self.showHideDebtInformation = function () {
            if (self.showDebtInformation())
                self.showDebtInformation(false);
            else
                self.showDebtInformation(true);
        }
        self.showHideComplaintInformation = function () {
            if (self.showComplaintInformation())
                self.showComplaintInformation(false);
            else
                self.showComplaintInformation(true);
        }
        self.showHideCollectionAgencyProcess = function () {
            if (self.showCollectionAgencyProcess())
                self.showCollectionAgencyProcess(false);
            else
                self.showCollectionAgencyProcess(true);
        }
        self.showHideDebtOwnerProcess = function () {
            if (self.showDebtOwnerProcess())
                self.showDebtOwnerProcess(false);
            else
                self.showDebtOwnerProcess(true);
        }
        self.showHideComplaintClosure = function () {
            if (self.showComplaintClosure())
                self.showComplaintClosure(false);
            else
                self.showComplaintClosure(true);
        }
        self.isDebtOwnerProcessVisible = ko.computed(function () {
                return (self.userRole() == 'CollectionAgency') ? false : true;
            }, self);
        self.validationErrors = ko.observableArray([]);
    }

    $(document).ready(function () {        
        ko.applyBindings(new pageViewModel($('#userId').val(), $('#roleEntityValue').val(), $('#hdnUserRole').val()), $('#workspaceContainer')[0]);


        //For DatePicker for Complaint section
        $('#complaiintDate').datepicker({ dateFormat: 'mm/dd/yy' });
        $('#moreInfoRequestedDate').datepicker({ dateFormat: 'mm/dd/yy' });
        $('#moreInfoReceivedDate').datepicker({ dateFormat: 'mm/dd/yy' });
        $('#dateSubmittedToAgency').datepicker({ dateFormat: 'mm/dd/yy' });
        //Debt Owner
        $('#complaintSubmittedDate').datepicker({ dateFormat: 'mm/dd/yy' });
        $('#moreInfoFromAgencyRequestedDate').datepicker({ dateFormat: 'mm/dd/yy' });
        $('#moreInfoFromAgencyReceivedDate').datepicker({ dateFormat: 'mm/dd/yy' });
        $('#ownerResponseDate').datepicker({ dateFormat: 'mm/dd/yy' });

        $('#agencyResponseToDebtorDate').datepicker();

        //$("#listAgencies").kendoDropDownList();
        //$('#listStates').kendoDropDownList();
    });

</script>

